.article {
    margin-bottom: 50px;
    align-items: center;
    &__image {
        width: 100%;
        max-width: 300px;
        margin-right: 30px;
        height: auto;

        @media screen and (max-width: 992px) {
            max-width: 200px;
            margin-right: 20px;
        }
    }

    &__title {
        max-width: 400px;
    }

    &__premable {
        @media screen and (max-width: 992px) {
            display: none;
        }
    }
}
