@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import './articles.scss';

html {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.flexbox {
    display: flex;

    &--align-center {
        align-items: center;
    }

    &--sbet {
        justify-content: space-between;
    }

    &--end {
        justify-content: flex-end;
    }

    &--col {
        flex-direction: column;
    }

    &--md {
        @media screen and (max-width: 992px) {
            display: block;
        }
    }
}

.flex-1 {
    flex: 1;
}

.flex-4 {
    flex: 4;
}

.ml-20 {
    margin-left: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-100 {
    margin-top: 100px;
}

.text-center {
    text-align: center;
}

.f-size-30 {
    font-size: 3rem;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    cursor: pointer;

    &--up {
        transform: rotate(-135deg);
    }

    &--down {
        transform: rotate(45deg);
    }
}
